@font-face {
  font-family: 'gotFont';
  src: url('./game-of-thrones/Game-of-Thrones.ttf') format('truetype');
}

* {
  margin: 0;
	padding: 0;
}

body {
  font-family: 'gotFont';
  word-spacing: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-menu {
  background-color: #dee2e6;
  padding: 1%;
  text-align: center;
}

.image-logo {
  width: 20%;
}

.main-section, .footer-menu {
  text-align: center;
}

.main-section {
  background-color: hsla(210, 14%, 89%, 0.247);
  padding: 2%;
}

.main-section span {
  font-size: 36px;
}

.main-section h1 {
  padding-bottom: 1rem;
}

.left-section {
  margin-right: 5%;
}

.character-image {
  height: 400px;
}

.right-section {
  display: flex;
  flex-direction: column;
}

.main-section button {
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background-color: #40c057;
  border-style: none;
  border-radius: 0.2rem;
  opacity: 0.6;
  transition: 0.3s;
}

.main-section button:hover {
  opacity: 1;
}

.footer-menu {
  background-color: #495057;
  margin-top: 1%;
  padding: 0.8%;
  font-size: 0.8rem;
}